.projects {
  background-color: whitesmoke;
  height: 100%;
  padding: 15px 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2rem;
}

.relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.projects h2 {
  margin: 0;
  font-size: 7.25rem;
  color: #dee3e4;
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  letter-spacing: 4px;
}

.title {
  color: #2d2e32;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  text-align: justify;
  font-weight: 600;
}

.line {
  position: absolute;
  border-bottom: 3px solid #2980B9;
  width: 110px;
  padding-top: 60px;
}
.content {
  display: flex;
  flex-direction: column;
}
.subTitle {
  color: #2d2e32;
  font-size: 25px;
  margin-bottom: 50px;
}
.grid {
  grid-gap: 5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}