@import "../../styles/_variables.scss";
.projects {
  background-color: whitesmoke;
  height: 100%;
  padding: 15px 0;
  @include breakpoint(lg) {
    padding: 4rem 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 8rem 2rem;
  @include breakpoint(lg) {
    padding: 2rem 4rem;
  }
  @include breakpoint(sm) {
    padding: 30px 20px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  @include breakpoint(lg) {
    gap: 1rem;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  @include breakpoint(sm) {
    margin-bottom: 30px;
  }
  @include breakpoint(lg) {
    margin-bottom: 20px;
  }
}

.projects h2 {
  margin: 0 auto;
  font-size: 7.25rem;
  color: #b1bbbd;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  @include breakpoint(lg) {
    font-size: 4.25rem;
  }
  @include breakpoint(sm) {
    font-size: 2.5rem;
  }
}

.title {
  color: #2d2e32;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  text-align: justify;
  font-weight: 600;
  @include breakpoint(lg) {
    font-size: 24px;
  }
  @include breakpoint(sm) {
    font-size: 1.2rem;
  }
}

.line {
  position: absolute;
  border-bottom: 3px solid #2980B9;
  width: 80px;
  padding-top: 60px;
  @include breakpoint(sm) {
    padding-top: 15px;
    width: 35px;
  }
  @include breakpoint(lg) {
    padding-top: 35px;
    width: 70px;
    border-bottom: 2px solid #2980B9;
  }
}

.subTitle {
  color: #2d2e32;
  font-size: 25px;
  margin-bottom: 50px;
  @include breakpoint(sm) {
    font-size: 18px;
  }
  @include breakpoint(lg) {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.grid {
  grid-gap: 5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}
@media screen and (max-height: 601px) {
  .container {
    padding-top: 4rem;
  }
}