@import "../../styles/_variables.scss";

.main {
  flex-direction: row;
  gap: 42px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  display: flex;
  @include breakpoint(lg) {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  flex-basis: 35%;
}

.title {
  margin-bottom: 20px;
}

.ImgProject {
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  height: auto;
  flex-basis: 55%;
  width: 400px;
  @include breakpoint(lg) {
    height: auto;
    width: 100%;
  }
}

.text {
  font-family: Mulish, sans-serif !important;
  font-size: 17px;
  color: #767676;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  line-height: 25px;
  @include breakpoint(lg) {
    max-width: 400px;
  }
}

.techs {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.techs span {
  font-weight: 600;
  padding: 0 10px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-weight: 500;
  color: #2d2e32;
}

.links a {
  color: #2d2e32;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.link {
  width: 30px;
  margin: 0 15px;
}













