.main {
    height: 50vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between
}
.container h2 {
    margin-top: 0;
}
.content {
    width: 600px;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
}
.box {
    width: 86px;
    height: 86px;
    background-color: yellow;
}
