.main {
    height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;

}
@media (max-width: 640px) {
    .main {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 391px) {
    .container {
        width: 100%;
    }
}




.block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}