.navbar {
    border: 2px solid burlywood;
    display: flex;
    width: 400px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
@media (max-width: 441px) {
    .navbar {
        border: none;
    }
}