@import "../../styles/_variables.scss";

.contact {

  background-color: whitesmoke;
  display: flex;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 8rem 2rem;
  @include breakpoint(lg) {
    padding: 10px 4rem;
  }
  @include breakpoint(sm) {
    padding: 50px 2rem;
  }
}

.relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 50px 0;
  @include breakpoint(sm) {
    margin: 40px 0 10px 0;
  }
}

.title {
  margin: 0;
  font-size: 7.25rem;
  color: #b1bbbd;
  opacity: 0.8;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  @include breakpoint(lg) {
    font-size: 4.25rem;
  }
  @include breakpoint(sm) {
    font-size: 2.5rem;
  }
}

.subTitle {
  color: #2d2e32;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  text-align: justify;
  font-weight: 600;
  @include breakpoint(lg) {
    font-size: 22px;
  }
  @include breakpoint(sm) {
    font-size: 1.2rem;
  }
}

.line {
  position: absolute;
  border-bottom: 3px solid #2980B9;
  width: 80px;
  padding-top: 50px;
  @include breakpoint(lg) {
    padding-top: 35px;
  }
  @include breakpoint(sm) {
    padding-top: 25px;
    width: 40px;
    border-bottom: 2px solid #2980B9;
  }

}

.row {
  display: flex;
  justify-content: space-between;
  @include breakpoint(sm) {
    flex-direction: column;
    align-items: center;
  }
  @include breakpoint(md) {
    flex-direction: column;
    align-items: center;
  }
}



.contactLeft {
  flex-basis: 35%;
  margin-top: 15px;
  @include breakpoint(lg) {
    flex-basis: 45%;
  }
}

.contactRight {
  flex-basis: 60%;
}

.contactLeft p {
  margin-bottom: 30px;
  display: inline-block;
  @include breakpoint(sm) {
    display: flex;
  }
}

.contactLeft p a {
  font-size: 18px;
}

.socialIcons {
  margin-top: 20px;
  margin-bottom: 20px;
  @include breakpoint(sm) {
    text-align: center;
  }
}

.socialIcons svg {
  display: inline-block;
}

.socialIcons svg:hover {
  color: #2980B9;
}

.contactLeft p a {
  text-decoration: none;
  color: #2d2e32;
  font-weight: 500;
  text-align: center;
  @include breakpoint(md) {
      margin-right: 10px;
  }
}

.contactRight form {
  width: 100%;
}


form input, form textarea {
  width: 100%;
  border: 3px solid #2d2e32;
  outline: none;
  background: #2d2e32;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

form input:focus {
  border: 3px solid #2980B9;
}

form textarea:focus {
  border: 3px solid #2980B9;
}

.btn {
  @include button-style;
}

.btn:hover {
  background-color: #4a5a6a;
  background-image: linear-gradient(315deg, #4a5a6a 0%, #3c3d42 74%);
  font-weight: 600;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media screen and (max-height: 601px) {
  .container {
    padding-top: 2.5rem;
  }
  .row {
    flex-direction: column;
  }
  .contactLeft {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contactLeft p {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .relative {
    margin-bottom: 0;
    justify-content: center;
  }
  form input, form textarea {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .contactRight {
    display: flex;
    max-width: 580px;
  }
  form textarea {
    height: 100px;
  }
  .btn {
    margin-left: 10px;
    padding: 7px 30px;
  }
}
@media screen and (max-height: 800px) {
  .container {
    padding-top: 50px;
  }
}