@import "../../styles/_variables.scss";

.header {
  font-family: "Segoe UI Emoji", sans-serif;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  font-size: 20px;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 100px 25px 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.logo {
  height: 20px;
}
.ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  li a {
    color: #34495E;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
    cursor: pointer;
    tab-index: 1;
    @include breakpoint(sm) {
      font-size: 6px;
    }
  }
  li a:hover {
      color: #2980B9;
  }
}

  .navigationMenu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 25px 40px 25px 50px;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
  }


